#imiegrupa {
    background-color: #2c6700;
    text-align: center;
    color: white;
    font-family: 'Trebuchet MS';
}

#wrap {
    display: flex;
    flex-direction: row;
}

#kontenerlisty {
    display: block;
	list-style: none;
	margin: 0;
	padding: 0;
    order: 2
}
#ukryj {
    display: none;
}

#tooltip {
    background-color:#ffcf99;
    display: block;
	text-align: center;
    width: 100px;
    padding: 5px;
    border-style: solid;
    border-width: 2px;
    visibility: hidden;
    position:absolute;
    z-index: 1;
}
#jeden {
    background-color: #92cd00;
    display: block;
	text-align: center;
    width: 100px;
    padding: 5px;
    border-style: solid;
    border-width: 2px;
    margin: 5px;
}
#jeden:hover #tooltip{
    visibility: visible;
}
a:link {
    text-decoration: none;
    color: black;
}
a:visited {
    text-decoration: none;
    color: black;
}

#body {
    font-family: 'Verdana';
    font-size: 12px;
    color: #333;
    background-color: #ffcf79;
    border-bottom: 10px solid white;
    order:1;
}
#footer {
    background-color: #ffcf99;
    text-align: center;
    padding: 5px;
}
#img0 {
    border: 2px solid #ffcf79;
    outline: 2px solid #92cd00;
    margin: 10px;
}

#img {
    border: 2px solid #ffcf79;
    outline: 2px solid #92cd00;
}




#li {
    list-style-image: url(lista.png);
}



#tabela1 {
    width: 100%;
}

#nag {
    background-color: #92cd00;
}
#th {
    width: 25%;
}
#nie {
    border-bottom: 5px dotted #92cd00;
}





#tabela2 {
    width:100%;
}
#tr1 {
    border-bottom: 2px dotted #333;
}
#img1 {
    outline: 2px solid #92cd00;
    border:2px solid #ffcf79;
}

